complete_project_v1.py
*.wav
*.mp3
.venv
recordingtest.py
response.txt
cursesSP.py
cursestest.py
PEN.txt
key.json
PEtest.py
GUItest.py
scriptwriter.py
testprompt.txt
test.py
transcriber.py
TTS.py
cursesSPGpt4.py
